// main: ../style.less

.require {

    padding: 145px 0 170px;
    min-height: 100vh;

    background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url('../images/require-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center -2px;

    &__subtitle,
    &__title {
        text-align: center;
    }

    &__subtitle {
        margin-bottom: 15px;
    }

    &__title {
        margin-bottom: 190px;
    }

    &__box {

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "textos proc . ."
                "mem storage . ."
                "graphs graphs . .";
        }

        .textos {
            padding: 15px 12px 30px 18px;
            border: 1px solid RGBA(151, 151, 151, 0.3);
            grid-area: textos;
        }

        .proc {
            padding: 15px 12px 30px 18px;
            border: 1px solid RGBA(151, 151, 151, 0.3);
            border-left: none;
            grid-area: proc;
        }

        .mem {
            padding: 15px 12px 30px 18px;
            border: 1px solid RGBA(151, 151, 151, 0.3);
            border-top: none;
            grid-area: mem;
        }

        .storage {
            padding: 15px 12px 30px 18px;
            border: 1px solid RGBA(151, 151, 151, 0.3);
            border-left: none;
            border-top: none;
            grid-area: storage;
        }

        .graphs {
            padding: 15px 12px 30px 18px;
            border: 1px solid RGBA(151, 151, 151, 0.3);
            border-top: none;
            grid-area: graphs;
        }

        &-tit {
            font-family: 'Bebas Neue', cursive;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 2px;
            color: #FFB548;
        }

        &-text {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            min-width: 127px;
        }
    }
}

@media(max-width:1480px) {
    .require {

        &__box {
            width: 100%;

            .grid-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 0px 0px;
                grid-template-areas:
                    "textos textos proc proc"
                    "mem mem storage storage"
                    "graphs graphs graphs graphs";
            }

            .textos {
                grid-area: textos;
            }

            .proc {
                grid-area: proc;
            }

            .mem {
                grid-area: mem;
            }

            .storage {
                grid-area: storage;
            }

            .graphs {
                grid-area: graphs;
            }

        }
    }
}

@media (max-width: 768px) {
    .require {
        padding-top: 30px;
        background-image: url('../images/require-bg-mob.jpg');
        background-position: bottom;

        &__title {
            margin-bottom: 45px;
            text-align: left !important;
        }
        
        &__subtitle {
            text-align: left;
        }

        &__box {
            width: 100%;

            .grid-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 0px 0px;
                grid-template-areas:
                    "textos textos proc proc"
                    "mem mem storage storage"
                    "graphs graphs graphs graphs";
            }

            .textos {
                grid-area: textos;
            }

            .proc {
                grid-area: proc;
            }

            .mem {
                grid-area: mem;
            }

            .storage {
                grid-area: storage;
            }

            .graphs {
                grid-area: graphs;
            }

            &-tit {
                font-size: 18px;
                line-height: 18px;
            }

            &-text {
                font-size: 14px;
                line-height: 16px;
            }

        }
    }
}
